{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Uptact</title>
  <link rel="stylesheet" href="{% static 'css/tachyons.min.css' %}">
  <link rel="stylesheet" href="{% static 'icofont/icofont.min.css' %}">
</head>
<body class="sans-serif pv3 ph2">
  <div class="mw9 center">
      <header>
          <h1>Books!</h1>
          <a href="{% url 'homepage' %}">Home</a>
          <a href="{% url 'add_book' %}">Add Book</a>
          <div id="search-div">
              <form action="{% url 'search_books' %}" method="POST">
                {% csrf_token %}
                <input name="term" type="text">
                <button type="submit">Search</button>
              </form>
          </div>
      </header>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
